@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: gray;
}
.navegation{
    position: relative;
    height: 500px;
    background: rgb(79, 184, 79);
    width: 300px;
    box-shadow: 10px 0 0 rgb(98, 211, 98);
}






















/* Parei em 5:45     https://www.youtube.com/watch?v=Fgdjvclw_bM  */